<!DOCTYPE HTML>
<html>
    <head>
        <title>My Blog</title>
        <link rel="stylesheet" href="/css/materialize.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        
   </head>
    <body>
      <header>
        <!-- Common Navbar for each page -->
        <nav>
          <div class="nav-wrapper">
            <a href="/blog" class="brand-logo">MyBlog</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/blog">Home</a></li>
              <li><a href="/blog/new">Create Blog</a></li>
              <li><a href="/blog">All</a></li>
            </ul>
          </div>
        </nav>
        
      </header>     
        <!-- Content for different pages goes here -->